doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(rel='stylesheet', href='/stylesheets/style.css')
    block head
  body
    .container
      if messages.error
        .alert.alert-danger(style="position:fixed")
          div= messages.error
      if messages.info
        .alert.alert-info(style="position:fixed")
          div= messages.info
      if messages.success
        .alert.alert-success(style="position:fixed")
          div= messages.success
    block content

  script(src='http://code.jquery.com/jquery.js')
  script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
